.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  padding: 0 var(--medium-spacing);
}

.gameControls {
  display: flex;
  justify-content: center;
  padding-top: var(--medium-spacing);
}

.gameboard {
  display: grid;
  grid-gap: var(--medium-spacing);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr repeat(5, 2fr);
  max-height: 100%;
}