.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 6fr 1fr;
  grid-template-areas: "controls buzzer"
    "board buzzer"
    "scores buzzer";
  grid-gap: var(--medium-spacing);
  padding: 0 var(--medium-spacing);
}

.gameControls {
  display: flex;
  justify-content: center;
  padding-top: var(--medium-spacing);
  grid-area: controls;
}

.gameboard {
  grid-area: board;
  display: grid;
  grid-gap: var(--medium-spacing);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr repeat(5, 2fr);
}

.gameboardPlaying {
  composes: gameboard;
  max-height: 100%;
  /* override min-height auto from grid */
  min-height: 0;
  height: auto;
}

.buzzer {
  grid-area: buzzer;
  border-radius: var(--small-border-radius);
  border: 3px solid var(--base4);
  margin: var(--medium-spacing) 0;
}

.scores {
  grid-area: scores;
  background-color: #bada55;
}