:root {
  --base1: #7e0e42;
  --base2: #122835;
  --base3: #005566;
  --base4: #635830;
  --base5: #a5afb5;
  --base6: #edcaa0;
  --positive: #bb15b4;
  --negative: #bb4c0d;
  --small-spacing: 6px;
  --medium-spacing: 12px;
  --small-border-radius: 6px;
  --medium-border-radius: 24px;
}

html {
  background-color: #122835;
  box-sizing: border-box;
}

*/ *,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base6);
}

text,
tspan {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: var(--base6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  background-color: var(--base3);
  padding: var(--medium-spacing);
  margin: var(--medium-spacing);
  border-radius: var(--medium-border-radius);
}

.inputWrapper {
  height: calc(var(--small-spacing) * 4);
}

input,
button,
select {
  height: calc(var(--small-spacing) * 8);
  border-radius: var(--small-border-radius);
  border: none;
  padding: 0 calc(var(--small-spacing) * 3);
  min-width: calc(var(--small-spacing) * 20);
  background: #fff;
  text-align: center;
}

textarea {
  height: calc(var(--small-spacing) * 8);
  border-radius: var(--small-border-radius);
  border: none;
  min-width: calc(var(--small-spacing) * 20);
  margin: 0 var(--small-spacing);
  text-align: center;
  background: transparent;
  resize: none;
  color: var(--base6);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

option {
  padding: var(--small-spacing);
}