.question {
  display: flex;
  position: relative;
  flex: 1;
  margin: var(--medium-spacing);
  cursor: pointer;
  text-align: center;
  min-height: calc(var(--medium-spacing) * 8);
  width: 100%;
}
.front {
  backface-visibility: hidden;
}
.front,
.back {
  border-radius: var(--small-border-radius);
  background-color: var(--base3);
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  will-change: transform;
}

.back {
  background-color: var(--base4);
  transform: rotateX(180deg);
}
